$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 80px 0 0;
}
/* Custom header */
.navbar {
  margin-bottom: 0;
}

.navbar-header {
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 2em;
  font-weight: bold;
  float: none;
  line-height: initial;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/*
 * Main content
 */
.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .active > a,
  .active > a:hover,
  .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
}
