<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://necolas.github.io/normalize.css/latest/normalize.css">
	<link rel="stylesheet" href="css/base.css">
	<title>Edools Repositories</title>
</head>
  <body ng-app="app">
    <div ng-controller="Ctrl">
      <p>Olá {{user.name}} [member since: {{user.memberSince()}}]</p>
      <h2>Repo list:</h2>
      <ul>
        <li ng-repeat="repo in repos">
        <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
        </li>
      </ul>
      <h2>Member list:</h2>
      <ul>
        <li ng-repeat="member in members">
        <a href="{{member.html_url}}" target="_blank">{{member.login}}</a>
        </li>
      </ul>
    </div>
    <!-- Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>