/* app css stylesheet */


.block {
	border-bottom: 1px solid #c3c3c3;
}

.block h2{
	margin-bottom: 0;	
}

.block p{
	margin-top: 3px;	
}


.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #5bc0de;
	background-color: #f4f8fa;
}