.nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-left.navbar-brand(href='/')
        i.icon-social-github
        |  Git
        b Dools

    .navbar-nav.navbar-right
      form(no-validate, ng-submit='vm.search()')
        #navbar-search.input-group.navbar-search
          input#search-input.form-control(
          type='text',
          ng-model='vm.searchText'
          placeholder='Pesquisar Repositório',
          name='search',
          ng-required)
          span.input-group-btn
            button.btn.btn-default(type='submit')
              i.icon-magnifier
      .nav-auth
        a.btn.btn-primary.btn-login(href='{{vm.loginUrl}}', ng-show='!vm.isAuthenticated') Login
        .nav-auth-user(uib-dropdown, ng-show='vm.isAuthenticated')
          #avatar.avatar(uib-dropdown-toggle)
            lazy-img(src='vm.me.avatar_url')
          ul(uib-dropdown-menu, role='menu', aria-labelledby='avatar')
            li.dropdown-header(role="menuitem") {{vm.me.name}}
            li(role="menuitem")
              a(href='#', ng-click='vm.logout()') Sair
