.nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-left.navbar-brand(href='/')
        i.icon-social-github
        |  Git
        b Dools

    .navbar-nav.navbar-right
      form(no-validate, ng-submit='vm.search(search)')
        .input-group.navbar-search
          input.form-control(
          ng-required,
          type='text',
          placeholder='Pesquisar Repositórios',
          name='search',
          ng-model='search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              i.icon-magnifier
