.nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-left.navbar-brand(href='/')
        i.icon-social-github
        |  Git
        b Dools

    .navbar-nav.navbar-right
      form(no-validate, ng-submit='vm.search()')
        #navbar-search.input-group.navbar-search
          input#search-input.form-control(
          type='text',
          ng-model='vm.searchText'
          placeholder='Pesquisar Repositório',
          name='search',
          ng-required)
          span.input-group-btn
            button.btn.btn-default(type='submit')
              i.icon-magnifier
      button.btn.btn-primary.btn-login(ng-click='vm.login()') Login
