@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  background: #F1F1F1;
	height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all ease .2s;
  .main {
    .block {
      &__content {
        padding: 20px;
        // background: #FFF;
        background: linear-gradient(to bottom right, #d354aa, #9174dd);
        width: 400px;
        height: 500px;
        box-shadow: 0px 6px 50px rgba(0,0,0,0.4);
        border-radius: 20px;
        transform: scale(1);
        transition: all ease .2s;
        &:hover {
          transform: scale(1.05);
        }
      }
      &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
        }
        a {
          .linkedin {
            background: transparent;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            bottom: 0px;
            left: 230px;
            img {
              width: 30px;
              height: 30px;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &__personal-infos {
        text-align: center;
        h3 {
          margin: 0px;
          margin-top: 20px;
          color: #FFF;
        }
        p {
          margin: 0px;
          font-weight: 300;
          color: #FFF;
          font-size: 14px;
        }
      }
      &__github-infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
      }
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        position: relative;
        background-color: #9e4991;
        color: #FFF;
        padding: 5px;
        width: 50px;
        height: 50px;
        .label {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 20px;
          height: 20px;
          background-color: #FFF;
          color: #9e4991;
          font-size: 12px;
          text-align: center;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        span {
          font-size: 20px;
        }
        p {
          font-size: 10px;
          margin: 0px;
          margin-top: 5px;
          text-transform: uppercase;
        }
      }
      &__repositories {
        margin-top: 25px;
        background-color: #FFF;
        width: 100%;
        height: 200px;
        position: relative;
        &:before {
          content: '';
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid #FFF;
          position: absolute;
          top: -14px;
          left: 0px;
          right: 0px;
          margin: 0 auto;
        }
        .scroll {
          overflow-x: hidden;
          overflow-y: scroll;
          max-height: 200px;
        }
      }
      &__item {
        padding: 10px;
        border-bottom: 1px solid #F1F1F1;
        transition: all ease .2s;
        a {
          text-decoration: none;
          h3 {
            margin: 0px;
            color: #9e4991;
          }
          p {
            margin: 0px;
            font-size: 14px;
            color: #333;
          }
          small {
            margin: 0px;
            font-size: 10px;
            color: #999;
          }
        }
        &:hover {
          background-color: #F1F1F1;
          cursor: pointer;
        }
      }
    }
  }
}
