<div class="col-md-12">
    <h1>comments</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://github.com/gilcierweb" target="_blank">https://github.com/gilcierweb</a>
        </li>
        <li class="list-group-item"><a href="https://br.linkedin.com/in/gilcierweb" target="_blank">https://br.linkedin.com/in/gilcierweb</a>
        </li>
        <li class="list-group-item"><a href="http://gilcierweb.com.br" target="_blank">http://gilcierweb.com.br</a></li>
    </ul>
</div>