<header class="header">
    <div class="container">
        <nav>

            <li class="logo">
                <a href="/">
                    <img src="./assets/github-logo-white.svg">

                    Resolve
                </a>
            </li>

            <li class="auth">
                <a href="javascript:;" (click)="auth()">Auth</a>
            </li>

        </nav>
    </div>
</header>

<section class="dialog">

    <div class="dialog__header">

    </div>

    <div class="dialog__content"></div>

</section>