<h1><a ng-href="#/users/{{$routeParams.user}}">{{$routeParams.user}}</a> / {{$routeParams.repo}}</h1>
<pre ng-show="!_loading && issues.length == 0">Nenhum registro encontrado!</pre>
<div ng-repeat="issue in issues" class="block">
	<h2>#{{issue.number}} - {{issue.title}}</h2>	
	<p>{{issue.body}}</p>
	<small>comments ({{issue.comments.length}})</small> -
	<a href="javascript:;" ng-click="remove(issue)">remove</a>

	<div class="comments">
		<div  ng-repeat="comment in issue.comments" class="bs-callout ">
	    	<h4><a href="#/users/{{$routeParams.user}}">{{comment.user.login}}</a></h4>
	    	<p>{{comment.body}}</p>
	  	</div>	
	</div>
</div>
