.repo-page {
  .repo-page-header {
    .title {
      margin-top: 0;
      font-size: 24px;
    }

    .form-control {
      @include box-shadow(none);
    }
  }

  .nav-item {
    &.active {
      .nav-link {
        background-color: $light;
      }
    }
  }

  .tab-content {
    min-height: 50px;
    border: 1px solid $border-color-base;
    border-top: none;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    margin-bottom: $padding-large-vertical * 4;
    overflow: hidden;
  }

  .readme {
    background-color: $light;
    padding: 25px 50px $padding-large-vertical * 4;
  }

  .issues {
    .list-group {
      margin: 0;

      .list-group-item {
        border-left: none;
        border-right: none;
        padding-top: $padding-large-vertical + 5;
        padding-bottom: $padding-large-vertical + 5;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
          border-radius: 0;
        }

        &.empty {
          .comment-count {
            opacity: .4;
          }
        }

        .badge {
          float: none;
          display: inline;
          margin-right: $padding-base-horizontal;
          background-color: transparent;
          font-size: 16px;

          &.state-open {
            color: $brand-success;
          }

          &.state-closed {
            color: $brand-danger;
          }
        }

        .title {
          display: inline;
        }

        .comment-count {
          text-align: right;
          display: inline;
          float: right;

          i {
            margin-right: 8px
          }

          span {
            display: inline-block;
            width: 10px;
            text-align: right;
          }
        }
      }
    }
  }
}
