navbar
.container
  .jumbotron.text-center
    h1 'Allo, 'Allo!
    p.lead
      img(src='assets/images/yeoman.png', alt="I'm Yeoman")
      br
      |       Always a pleasure scaffolding your apps.
    p
      button.btn.btn-lg.btn-success(type='button') Splendid
.row
  .container
