div#main(layout="column" layout-fill)
  md-content
    header
      acme-navbar(creation-date='vm.creationDate')
    section
      md-content.md-primary.md-hue-1.jumbotron
          p
            img(src='assets/images/github-logo.png' alt="GitHub" width="300px")
            br
            | Just another way to play with GitHub...
            acme-malarkey(ng-model="['Repositories', 'Issues', 'Members']")
