.main-page
  navbar
  .row
    .container
      .col-sm-4(ng-repeat='repo in main.repositories')
        .thumbnail
          h3.text-center
            b {{::repo.name}}
            | /
            span {{::repo.owner.login}}
