<navbar></navbar>

<div class="container">

    <a href="/#/{{vm.busca}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a>

    <h3>{{vm.usuario}}/{{vm.repositorio}}</h3>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Readme.md">
            <div btf-markdown="vm.readme"></div>
        </uib-tab>
        <uib-tab index="1" ng-if=vm.issues.length heading="Issues">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="issue in vm.issues">
                        <td>
                            {{issue.title}}
                        </td>
                        <td class="text-right">
                            <btn ng-click="vm.abrirComentarios(issue)" class="btn btn-link">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i> {{issue.comments}} Comentários
                            </btn>

                            <a href="{{issue.html_url}}" class="btn btn-link" target="_blank">
                                <i class="fa fa-github-alt" aria-hidden="true"></i> Visualizar no GitHub
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
</div>
